.tip::before {
  position: absolute;
  content: " ";
  border: 15px solid transparent;
  border-bottom-color: #fe4444;
  left: 50%;
  transform: translate(-50%, -130%);
}
.tip {
  background-color: #fe4444;
}
.tip,
.tip::before {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
.tip::after {
  height: 30%;
  width: 40%;
  background-color: #fe4444;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  content: "";
}
.tip {
  animation-name: anim;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search::before {
  position: absolute;
  content: " ";
  
  border: 20px solid transparent;
  border-bottom-color: #fff;

  left: 50%;
  transform: translate(-50%, -120%);
}
.search,
.search::before {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
.search::after {
  height: 10%;
  width: 40%;
  
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  content: "";
}

.profile::before {
  position: absolute;
  content: " ";
  
  border: 20px solid transparent;
  border-bottom-color: #fff;
  
  left: 74%;
  transform: translate(-20%, -120%);
}
.profile,
.profile::before {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
.profile::after {
  height: 10%;
  width: 40%;
  
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 71%;
  transform: translate(-50%);
  content: "";
}