.login {
  width: 360px;
  height: 401px;
}
.signup {
  width: 360px;
  height: 73px;
}
.foodLogin {
  background-position: 0 -130px;
  height: 51px;
  /* width: 175px; */

  font-family: "Brush Script MT", "Brush Script Std", "cursive";
}
